:root {
  /* Colors */
  --white: #FFFFFF;
  --black: #000000;

  --grid-light: #BDBDBD;
  --grid-dark: #616161;

  --background-light: #E3F2FD;
  --background-dark: #0D47A1;

  --text-light: #1976D2;
  --text-dark: #BBDEFB;

  --primary-light: #FF9800;
  --primary-dark: #FFB74D;

  --extra-light: #FF5252;
  --extra-dark: #FF6E40;

  /* Fonts */
  --font-family: "Arial", sans-serif;
  --font-size: 1.2em;
  --font-weight: 400;
  --line-height: 1.2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;

  background: var(--background-light);
  color: var(--text-light);

  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
}

div,
button,
select,
input[readonly] {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
}

.container {
  width: 100%;
  max-width: 1340px;
  min-height: 100vh;
  padding: 20px;
}

.header {
  width: 100%;
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.header_logo {
  width: 50px;
  height: 50px;
}

.header_logo svg {
  width: 100%;
  height: 100%;
  color: var(--text-light);
}

.header_title {
  font-weight: 600;
}

.main {
  margin-top: 20px;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.templates_select {
  background-color: var(--primary-dark);
  border: 3px solid var(--primary-dark);
  border-radius: 8px;
  padding: 5px 10px;
  width: 180px;

  font-family: var(--font-family);
  font-size: 1em;
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--white);

  cursor: pointer;
  transition: all 0.3s ease-in;
  position: relative;

  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"%3E%3Cpath d="M0 0l5 6 5-6H0z" fill="%23fff"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 15px 9px;
}

.templates_select:hover {
  border-color: var(--primary-light);
}

.templates_option {
  padding: 10px;
  background-color: var(--white);

  font-family: var(--font-family);
  font-size: 1em;
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--primary-light);

  cursor: pointer;
  transition: all 0.3s ease-in;
}

.templates_option:focus {
  background-color: var(--primary-light);
  color: var(--white);
}

.action_button {
  background-color: var(--primary-dark);
  border: 3px solid var(--primary-dark);
  border-radius: 8px;
  padding: 5px 10px;

  font-family: var(--font-family);
  font-size: 1em;
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--white);

  cursor: pointer;
  transition: all 0.3s ease-in;
}

.action_button:hover {
  color: var(--primary-light);
  border-color: var(--primary-light);
}

.nonogram_wrapper {
  display: grid;
  grid-template-areas:
    ". colClues"
    "rowClues nonogramGrid";
}

.nonogram_rowClues {
  grid-area: rowClues;
  margin: 3px 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2px;
}

.rowClue {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.nonogram_colClues {
  grid-area: colClues;
  margin: 5px 3px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2px;
}

.colClue {
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.nonogram_grid {
  grid-area: nonogramGrid;
  width: fit-content;
  border: 3px solid var(--grid-dark);
  background: var(--grid-dark);

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2px;
}

.nonogram_grid button.cell {
  width: 30px;
  height: 30px;
  border: none;
  background-color: var(--white);
  cursor: pointer;
  position: relative;
}

.nonogram_grid button.cell.filled {
  background-color: var(--black);
}

.nonogram_grid button.cell.crossed::before,
.nonogram_grid button.cell.crossed::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 2px;
  background-color: var(--black);
}

.nonogram_grid button.cell.crossed::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.nonogram_grid button.cell.crossed::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}